<div class="container">
  <header id="header">
    <div class="logo">
      <a href="#"><img id="lol" src="pic/bulb.png" alt="" />Furni</a>
    </div>
    <ul class="navigation">
      <li><a href="#home" class="active">home</a></li>
      <li><a href="#shop">Shop</a></li>
      <li><a href="#features">features</a></li>
      <li><a href="#new-arrival">new arrival</a></li>
      <li><a href="#team">team</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
    <div class="bars">
      <img id="bar" src="pic/menu.png" alt="" />
    </div>
  </header>
</div>
