<div class="container bg-transparent">
  <nav class="w-full h-14 items-center flex justify-between px-4 md:px-4">
    <div class="text-2xl text-indigo-950 font-bold">PW skills</div>
    <ul class="md:flex hidden font-semibold">
      <li>Home</li>
      <li class="mx-[10px] cursor-pointer">Contacts</li>
      <li class="mx-[10px] cursor-pointer">Shop</li>
      <li class="mx-[10px] cursor-pointer">new arrivals</li>
      <li class="mx-[10px] cursor-pointer">Team</li>
    </ul>
    <div
      class="hidden md:block px-2 py-2 bg-indigo-950 text-white rounded font-bold cursor-pointer"
    >
      Login/Signup
    </div>
    <div class="md:hidden">
      <a class="text-4xl" href="">&#8801;</a>
    </div>
  </nav>
</div>
