<div>
  <div class="sticky top-0 bg-white shadow-md z-10">
    <app-header></app-header>
  </div>
  <!-- image content------------ -->
  <div class="relative">
    <!-- Image------------------- -->
    <header class="big-bg relative w-full h-auto">
      <div class="bg-content">
        <h1>
          Quality is the best thing <br />
          in the business
        </h1>
        <hr />
        <p>
          We make our products in the best shape for your happiness, <br />
          so we hope to build a bridge of trust with you.
        </p>
        <div class="bg-link">
          <a href="#">shop Now</a>
        </div>
      </div>
    </header>

    <!-- Our Products Section......... -->
    <div
      class="h-auto w-100 flex flex-wrap flex-col items-center text-center p-10"
    >
      <div class="w-100 h-auto flex flex-wrap flex-col items-center">
        <p class="text-black font-bold text-3xl md:text-4xl text-center">
          Our Products...!
        </p>
        <div
          class="w-40 h-1 border-b-4 border-yellow-900 mt-2 rounded-2xl md:mt-4 mb-12"
        ></div>

        <!-- Cardssssssssssss -->

        <div
          class="w-100 space-x-4 md:space-x-24 flex flex-wrap justify-evenly"
        >
          <div class="w-46 flex flex-col items-center mb-12">
            <img class="w-33 h-33" src="../../assets/chair2.jpg" alt="" />
            <p class="2xl font-bold text-gray-700">Armhair</p>
          </div>
          <div class="w-46 flex flex-col items-center mb-12">
            <img class="w-33 h-33" src="../../assets/chair3.jpg" alt="" />
            <p class="2xl font-bold text-gray-700">Furniture</p>
          </div>
          <div class="w-46 flex flex-col items-center mb-12">
            <img class="w-33 h-33" src="../../assets/chair4.jpg" alt="" />
            <p class="2xl font-bold text-gray-700">Chair</p>
          </div>
          <div class="w-46 flex flex-col items-center mb-12">
            <img class="w-33 h-33" src="../../assets/chair5.jpg" alt="" />
            <p class="2xl font-bold text-gray-700">Decoration</p>
          </div>
          <div class="w-46 flex flex-col items-center mb-12">
            <img class="w-33 h-33" src="../../assets/couch.jpg" alt="" />
            <p class="2xl font-bold text-gray-700">Couch</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Products section ends -->

    <!-- Soffeya vaala section -->

    <div class="big-shop" id="shop">
      <div class="shop-title">
        <h2>
          we are very proud to present you <br />
          our furniture
        </h2>
        <p>Quality is the easiest way to make beautiful products.</p>
      </div>
      <div class="shop-flex">
        <div class="shop-one">
          <div class="image-one">
            <img src="../../assets/furn1.jpg" alt="" />
            <div class="overlay">
              <div class="txt">
                <h3>White Chair</h3>
                <section><span>Furniture</span> / Design</section>
              </div>
            </div>
          </div>

          <div class="image-one">
            <img src="../../assets/furn2.jpg" alt="" />
            <div class="overlay">
              <div class="txt">
                <h3>Blue Chair</h3>
                <section><span>Furniture</span> / Design</section>
                <div class="link">
                  <a href="#"
                    >Shop Now <i class="fas fa-long-arrow-alt-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="shop-one">
          <div class="image-one">
            <img src="../../assets/furn3.jpg" alt="" />
            <div class="overlay">
              <div class="txt">
                <h3>Black Chair</h3>
                <section><span>Furniture</span> / Design</section>
                <div class="link">
                  <a href="#"
                    >Shop Now <i class="fas fa-long-arrow-alt-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="image-one">
            <img src="../../assets/furn4.jpg" alt="" />
            <div class="overlay">
              <div class="txt">
                <h3>White lamp</h3>
                <section><span>Furniture</span> / Design</section>
              </div>
            </div>
          </div>
        </div>

        <div class="shop-two">
          <img src="../../assets/furn6.jpg" alt="" />
          <div class="overlay">
            <div class="txt">
              <h3>Brown Chairs</h3>
              <section><span>Furniture</span> / Design</section>
              <div class="link">
                <a href="#"
                  >Shop Now <i class="fas fa-long-arrow-alt-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Soffeya vaala section ends  -->
  </div>
</div>
